@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html{
    position:relative;
    min-height:100%;
}

main{
    margin-bottom: 440px;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom:0%;
    width:100%;
}

.hero-scene{
    position: relative;
    margin-bottom: 20px;
    &::before{
        content:"";
        position : absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../projet-images/hero\ scene.jpg);
        background-size: cover;
        filter: brightness(0.7);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height:300px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.image-card{
    position:relative;
    &:hover{
        .titre-image,
        .action-image-buttons{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
        width: 200px;
        height:300px;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }

    .action-image-buttons{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s;
    }
}

.message{
    font-family:"Rochester",sans-serif;
    font-size:2rem;
}

.brand-name{
    font-family:"Rochester";
    font-size:2.5rem;
}

.text-block{
    margin-bottom: 0.25rem;
}

.founder-section{
    padding:60px 0;
}

.founder-image{
    width: 100%;
    max-width:300px;
    height:300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.icon{
    font-size:7rem;
}

.menu-image{
    width: 70%;
    height:350px;
    object-fit: cover;
    border-radius: 10px;
    padding-left: 10px;
}

.reservation{
    display: flex;
    align-items: space-around;
    gap: 15px;
    margin-bottom: 20px;

    .reservation-btn{
        display: flex;
        align-items: center;
        gap: 2;
    }

    .conditions-reservation{
        justify-content: space-around;
    }
}

.allcommandes{
    a{
        display:block;
        color:black;
        padding:10px;
    }
}